{% extends 'base.html' %}

{% block content %}
<script>
    document.getElementById('activeabout').classList.add("active");
</script>
<div  class="tab-content tab-content-basic">

    <div class="row">
        <div class="col-lg-8 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                    <h4 class="card-title text-primary" style="font-size: 15px;">About Us</h4>
                    <p style="font-size: 15px;">
                        At WellEazy, we develop a revolutionary healthcare device made for anyone and everyone. Our aim
                        is
                        to change the world by making lives better and healthier.
                        The device is truly your health buddy. In this 21st century wherin life has become an
                        expeditious
                        one and over the years people have moved places for better job prospects of lifestyle
                        but what they have left behind is their dear and near loved ones.
                        Healthcare monitoring has henceforth emerged as a pivotal domain. We here believe to bring about
                        a
                        change in this healthcare monitoring sector with our revolutionary device.
                    </p>
                    <p>
                        <br>

                    </p>
                    <div class="col-md-6">
                        <address class="text-primary">
                            <p style="font-size: 15px;" class="fw-bold">
                                E-mail
                            </p>
                            <a href = "mailto:Welleazy@official.com"  style="text-decoration: none; font-size: 15px;" class="mb-2">
                                Welleazy@official.com
                            </a>
                            <br>
                            <br>
                            <p style="font-size: 15px;" class="fw-bold">
                                Web Address
                            </p>
                            <a href="/" style="text-decoration: none; font-size: 15px;">
                                www.welleazy.com
                            </a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body card-rounded">
                    <h4 class="card-title text-primary" style="font-size: 15px;"> Our Mission</h4>

                    <br>
                    <blockquote class="blockquote blockquote-primary">
                        <p style="font-size: 15px;">To inspire hope and contribute to health and well-being by providing the best service to
                            every
                            user through our integrated virtual systems.</p>
                    </blockquote>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}