{% extends 'base.html' %}

{% block content %}
<script>
    document.getElementById('activegallery').classList.add("active");
</script>
<div class="tab-content tab-content-basic">
    <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">WellEazy Gallery</h4>
            <p class="card-description">
              The Pendant
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="g1-group row">
                  <label class="col-sm-3 col-design-label">Design</label>
                  <div class="col-sm-9">
                    <img class="img-sm rounded-circle" src="static/images/Pendant/Round-demo.jpg" alt="pendant">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="g1-group row">
                  <label class="col-sm-3 col-design-label">Structure</label>
                  <div class="col-sm-9">
                    <img class="img-sm rounded-circle" src="static/images/Pendant/Round-demo.jpg" alt="pendant">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="g1-group row">
                  <label class="col-sm-3 col-design-label">Interior</label>
                  <div class="col-sm-9">
                    <img class="img-sm rounded-circle" src="static/images/Pendant/Round-demo.jpg" alt="pendant">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="g1-group row">
                  <label class="col-sm-3 col-design-label">Looks</label>
                  <div class="col-sm-9">
                    <img class="img-sm rounded-circle" src="static/images/Pendant/Round-demo.jpg" alt="pendant">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="g1-group row">
                  <label class="col-sm-3 col-design-label">Features</label>
                  <div class="col-sm-9">
                    <img class="img-sm rounded-circle" src="static/images/Pendant/Round-demo.jpg" alt="pendant">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="g1-group row">
                  <label class="col-sm-3 col-design-label">Colour</label>
                  <div class="col-sm-9">
                    <img class="img-sm rounded-circle" src="static/images/Pendant/Round-demo.jpg" alt="pendant">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}