{% extends 'base.html' %}

{% block content %}
<script>
  document.getElementById('activegallery').classList.add("active");
</script>
<div class="tab-content tab-content-basic">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">WellEazy Gallery</h4>
        <p class="card-description">
          The Pendant
        </p>

        <div class="col-md-6">
          <div class="g1-group row">
            <li style="font-size:25px;" class="col-sm-3 col-design-label">Design</li>
            <div class="col-sm-9" style="display: inherit;">
              <img style="width: -webkit-fill-available; margin: 20px;" src="static/images/Pendant/design1.jpg"
                alt="pendant">
              <img style="width: -webkit-fill-available; margin: 20px;" src="static/images/Pendant/design2.jpg"
                alt="pendant">
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="g1-group row">
            <li style="font-size:25px;" class="col-sm-3 col-design-label">Structure</li>
            <div class="col-sm-9" style="display: inherit;">
              <img style="width: -webkit-fill-available; margin: 20px;" src="static/images/Pendant/structure.jpg"
                alt="pendant">
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="g1-group row">

            <li style="font-size:25px;" class="col-sm-3 col-design-label">Interior</li>
            <div class="col-sm-9" style="display: inherit;">
              <img style="width: -webkit-fill-available; margin: 20px;" src="static\images\Pendant\interior1.jfif"
                alt="pendant">

              <img style="width: -webkit-fill-available; margin: 20px;" src="static\images\Pendant\interior2.png"
                alt="pendant">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="g1-group row">
            <li style="font-size:25px;" class="col-sm-3 col-design-label">Working</li>
            <div class="col-sm-9" style="display: inherit;">
              <img style="width: -webkit-fill-available; margin: 20px;" src="static\images\Pendant\working.jpg"
                alt="pendant">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="g1-group row">
            <li style="font-size:25px;" class="col-sm-3 col-design-label">Features</li>
            <div class="col-sm-9" style="display: inherit;">
              <img style="width: -webkit-fill-available; margin: 20px;" src="static\images\Pendant\features.jpg"
                alt="pendant">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="g1-group row">
            <li style="font-size:25px;" class="col-sm-3 col-design-label">Colour</li>
            <div class="col-sm-9" style="display: inherit;">
              <div class="template-demo">
                <button style="background-color:black ;" type="button" class="btn btn-social-icon btn-facebook btn-rounded"></button>
                <button style="background-color:#6a6a6a;" type="button" class="btn btn-social-icon btn-dribbble btn-rounded"></button>
                <button style="background-color:#b4b4b4 ;" type="button" class="btn btn-social-icon btn-linkedin btn-rounded"></button>
                <button style="background-color: white ;" type="button" class="btn btn-social-icon btn-youtube btn-rounded"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}