{% extends 'base.html' %}

{% block content %}
<script>
  document.getElementById('activedashbord').classList.add("active");
</script>
<div class="tab-content tab-content-basic">
  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
    <div class="row">
      <div class="col-sm-12">
        <div class="statistics-details d-flex align-items-center justify-content-between">




          <div>
            <p class="statistics-title">Heart Rate</p>
            <h3 id="randomheartrate">--</h3>
            <!-- <h3 id="randomheartrate">{{lastcheckupdata.Heartbeat}}</h3> -->
            <p class="text-danger d-flex"><i class="mdi mdi-heart"></i><span>{{lastcheckupdata.date}}</span></p>
          </div>



          <div>
            <p class="statistics-title">Sleep Cycle</p>
            <h3 class="rate-percentage">Normal</h3>
            <p class="text-success d-flex"><i class="mdi mdi-weather-night"></i><span>{{lastcheckupdata.sleep}}
                hrs</span></p>
          </div>
          <div>
            <p class="statistics-title">SpO<sub>2</sub></p>
            <h3 id="randomspo2">--</h3>
            <!-- <h3 class="rate-percentage">{{lastcheckupdata.Spo2}}</h3> -->
            <p class="text-danger d-flex"><i class="mdi mdi-chart-bubble"></i><span>-1%</span></p>
          </div>
          <div class="d-none d-md-block">
            <p class="statistics-title">ECG</p>
            <h3 class="rate-percentage">NIL</h3>
            <p class="text-success d-flex"><i class="mdi mdi-heart-pulse"></i><span>ST-T changes</span>
            </p>
          </div>

          <div class="d-none d-md-block">
            <p class="statistics-title">Lab Tests</p>
            <h3 class="rate-percentage">3 Reports</h3>
            <p class="text-danger d-flex"><i class="mdi mdi-test-tube"></i><span>2 done 1 due</span></p>
          </div>
          <div class="d-none d-md-block">
            <p class="statistics-title">Check ups</p>
            <h3 class="rate-percentage">5</h3>
            <p class="text-success d-flex"><i class="mdi mdi-bookmark-check"></i><span>Get them
                done!</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 d-flex flex-column">
        <div class="row flex-grow">
          <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                  <div>
                    <h4 class="card-title card-title-dash" id='randomheartbeatgraph'>Your Health
                      Performance</h4>
                    <h5 class="card-subtitle card-subtitle-dash">The chart shows your overall health
                    </h5>
                  </div>
                  <div id="performance-line-legend"></div>
                </div>
                <div class="chartjs-wrapper mt-5" style="  margin-top: 1rem !important;">

                  <div id="svg-wrapper" class="stretch-card" style="margin: 1px !important;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex flex-column">
        <div class="row flex-grow">
          <div class="col-md-6 col-lg-12 grid-margin stretch-card">
            <div class="card bg-primary card-rounded">
              <div class="card-body pb-0">
                <h4 class="card-title card-title-dash text-white mb-4">Health Summary</h4>
                <div class="row">
                  <div class="col-sm-4">
                    <p class="status-summary-ight-white mb-1">Normal Value</p>
                    <h2 class="text-info">4/5</h2>
                  </div>
                  <div class="col-sm-8">
                    <div class="status-summary-chart-wrapper pb-4">
                      <canvas id="status-summary"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                      <div class="circle-progress-width">
                        <div id="batterypercent1" style="      display: flex;  font-size: 50px;"
                          class="progressbar-js-circle pr-2"></div>
                      </div>
                      <div>
                        <p class="text-small mb-2">Pendant Battery</p>
                        <h4 class="mb-0 fw-bold" id="batterypercent">%</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="circle-progress-width">
                        <div class='mdi mdi-bluetooth-audio' style="    display: flex; font-size: 50px; margin: -3px;"
                          class="progressbar-js-circle pr-2"></div>
                      </div>
                      <div>
                        <p class="text-small mb-2">Device Connected</p>
                        <h4 class="mb-0 fw-bold">Yes</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 d-flex flex-column">
        <div class="row flex-grow">
          <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                  <div>
                    <h4 class="card-title card-title-dash">Live Reading Quick Scan (10 sec)</h4>
                  </div>
                  <div>
                    <div class="dropdown">
                      <button class="btn btn-secondary  toggle-dark btn-lg mb-0 me-0" type="button"
                        onClick="window.location.reload();" aria-haspopup="true" aria-expanded="false">
                        Quick Check</button>

                    </div>
                  </div>
                </div>
                <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                  <div class="me-3">
                    <div id="end"></div>
                  </div>
                </div>

                <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                <div class="chartjs-bar-wrapper mt-3">
                  <!-- <canvas id="marketingOverview"></canvas> -->
                </div>
              </div>
            </div>
          </div>
        </div>




        <div class="row flex-grow">
          <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                  <div>
                    <h4 class="card-title card-title-dash">Guardian information</h4>
                    <p class="card-subtitle card-subtitle-dash">We remind you as well as guardian also
                    </p>
                  </div>
                  <div>
                    <button onclick="newmember()" class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i
                        class="mdi mdi-account-plus"></i>Add new member</button>
                  </div>
                </div>
                <div class="table-responsive  mt-1">
                  <table class="table select-table">
                    <thead>
                      <tr>
                        <th>
                          <div class="form-check form-check-flat mt-0">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" aria-checked="false"><i
                                class="input-helper"></i></label>
                          </div>
                        </th>
                        <th>Guardian Name</th>
                        <th>Address</th>
                        <th>Guardian Relation</th>
                        <th>Phone</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-check form-check-flat mt-0">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" aria-checked="false"><i
                                class="input-helper"></i></label>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex ">
                            <img src="static/images/faces/face1.jpg" alt="">
                            <div>
                              <h6>{{userlogin.guardianName}}</h6>

                            </div>
                          </div>
                        </td>
                        <td>
                          <h6>{{userlogin.guardianaddress}}</h6>
                          <p>Indian</p>
                        </td>
                        <td>
                          <div>
                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">

                              <p>{{userlogin.guardianRelation}}e</p>
                            </div>

                          </div>
                        </td>
                        <td>
                          <div class="badge badge-opacity-warning">{{userlogin.guardianphone}}</div>
                        </td>
                      </tr>
                      {% for Data in Guardianaddmember %}
                      <tr>
                        <td>
                          <div class="form-check form-check-flat mt-0">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" aria-checked="false"><i
                                class="input-helper"></i></label>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex ">
                            <img src="static/images/faces/face1.jpg" alt="">
                            <div>
                              <h6>{{Data.guardianName}}</h6>

                            </div>
                          </div>
                        </td>
                        <td>
                          <h6>{{Data.guardianaddress}}</h6>
                          <p>Indian</p>
                        </td>
                        <td>
                          <div>
                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">

                              <p>{{Data.guardianRelation}}e</p>
                            </div>

                          </div>
                        </td>
                        <td>
                          <div class="badge badge-opacity-warning">{{Data.guardianphone}}</div>
                        </td>
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row flex-grow">

          <div class="row flex-grow">
            <div class="col-md-6 col-lg-6 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body card-rounded">
                  <h4 class="card-title  card-title-dash">Appoinment</h4>
                  <div class="list align-items-center border-bottom py-2">
                    <div class="wrapper w-100">
                      <p class="mb-2 font-weight-medium">
                        Change in Directors
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar text-muted me-1"></i>
                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list align-items-center border-bottom py-2">
                    <div class="wrapper w-100">
                      <p class="mb-2 font-weight-medium">
                        Other Events
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar text-muted me-1"></i>
                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list align-items-center border-bottom py-2">
                    <div class="wrapper w-100">
                      <p class="mb-2 font-weight-medium">
                        Quarterly Report
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar text-muted me-1"></i>
                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list align-items-center border-bottom py-2">
                    <div class="wrapper w-100">
                      <p class="mb-2 font-weight-medium">
                        Change in Directors
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar text-muted me-1"></i>
                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="list align-items-center pt-3">
                    <div class="wrapper w-100">
                      <p class="mb-0">
                        <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <h4 class="card-title card-title-dash">Diet Schedule</h4>
                    <p class="mb-0">00 finished, 12 remaining</p>
                  </div>
                  <ul class="bullet-line-list">
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                        <p>Just now</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Oliver Noah</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Jack William</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Leo Lucas</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Thomas Henry</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                  </ul>
                  <div class="list align-items-center pt-3">
                    <div class="wrapper w-100">
                      <p class="mb-0">
                        <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
              
              
          <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <h4 class="card-title card-title-dash">Daily / Diet Schedule</h4>
                  <p id="Dietbord" class="mb-0">00 finished, 12 remaining</p>
                </div>
                <p>Wellness Tips For A Healthy Routine From Morning To Night</p>
                <ul class="bullet-line-list">
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">06:00 – 07:00am : </span>Wake up . Drink two cups of
                        water with lemon each morning.</div>
                      <p id='D1' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">07:00 – 08:00am :</span> Do 60 minutes of
                        cardiovascular exercise on an empty stomach.</div>
                      <p id='D2' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">08:00 – 09:00am :</span> Have a bowl full of salads
                        and fresh fruits.Enjoy a smoothie.</div>
                      <p id='D3' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">08.00 – 11.00am :</span> Carry on with our work and
                        daily chores.</div>
                      <p id='D4' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">11:00 – 12noon :</span> Have a lunch that contains
                        proteins and nutrients</div>
                      <p id='D5' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">12:00 – 14:00pm :</span> You can continue work
                        otherwise grab a good book. </div>
                      <p id='D6' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">14:00 – 15:00pm :</span> Take a break . Have some
                        water, coffee, Fruit juices.Go for a walk.</div>
                      <p id='D7' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">15:00 –18:00pm :</span> Get in for work.</div>
                      <p id='D8' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">18:00 – 19:00pm :</span> Making a meal at home with as
                        many fresh ingredients as possible.</div>
                      <p id='D9' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">19:00 – 21:00pm :</span> Eat your dinner two hours
                        before bed to promote uninterrupted sleep.
                      </div>
                      <p id='D10' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">21:00 – 22:00pm :</span> Spend some time alone,
                        to breathe deeply, meditate, ponder, review your day.</div>
                      <p id='D11' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex justify-content-between">
                      <div><span class="text-light-green">22:00 – 23:00pm :</span> Aim to get to bed 11pm,
                        sleeping in a darkened room.</div>
                      <p id='D12' class="badge badge-opacity-primary me-3">ongoing!!</p>
                    </div>
                  </li>
                </ul>

                <div class="list align-items-center pt-3">
                  <div class="wrapper w-100">
                    <p class="mb-0">
                      <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex flex-column">
        <div class="row flex-grow">
          <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <h4 class="card-title card-title-dash">Todo today</h4>
                      <div class="add-items d-flex mb-0">
                        <!-- <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> -->
                        <button
                          class="add btn btn-icons btn-rounded btn-primary todo-list-add-btn text-white me-0 pl-12p"><i
                            class="mdi mdi-plus"></i></button>
                      </div>
                    </div>
                    <div class="list-wrapper">
                      <ul class="todo-list todo-list-rounded">
                        <li class="d-block" id="cross1">
                          <div class="form-check w-100">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" id="check1"> Amylinomimetic <i
                                class="input-helper rounded"></i>
                            </label>
                            <div class="d-flex mt-2" style="justify-content: space-between ;">
                              <div class="ps-4 text-small me-3">9 A.M.</div>
                              <div class="badge badge-opacity-dark me-3" id="Med1">
                                ----</div>

                            </div>
                          </div>
                        </li>
                        <li class="d-block" id="cross2">
                          <div class="form-check w-100">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" id="check2"> Biguanides <i
                                class="input-helper rounded"></i>
                            </label>
                            <div class="d-flex mt-2" style="justify-content: space-between;">
                              <div class="ps-4 text-small me-3">9 A.M.</div>
                              <div class="badge badge-opacity-dark me-3" id="Med2">
                                ----</div>

                            </div>
                          </div>
                        </li>
                        <li class="d-block" id="cross3">
                          <div class="form-check w-100">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" id="check3"> Sulfonylureas <i
                                class="input-helper rounded"></i>
                            </label>
                            <div class="d-flex mt-2" style="justify-content: space-between;">
                              <div class="ps-4 text-small me-3">9 A.M.</div>
                              <div class="badge badge-opacity-dark me-3" id="Med3">
                                ----</div>
                            </div>
                          </div>
                        </li>
                        <li class="d-block" id="cross4">
                          <div class="form-check w-100">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" id="check4"> Amylinomimetic <i
                                class="input-helper rounded"></i>

                            </label>
                            <div class="d-flex mt-2" style="justify-content: space-between ;">
                              <div class="ps-4 text-small me-3">15 P.M.</div>
                              <div class="badge badge-opacity-dark me-3" id="Med4">
                                ----</div>

                            </div>
                          </div>
                        </li>
                        <li class="d-block" id="cross5">
                          <div class="form-check w-100">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" id="check5"> Sulfonylureas <i
                                class="input-helper rounded"></i>
                            </label>
                            <div class="d-flex mt-2" style="justify-content: space-between;">
                              <div class="ps-4 text-small me-3">15 P.M.</div>
                              <div class="badge badge-opacity-dark me-3" id="Med5">
                                ----</div>

                            </div>
                          </div>
                        </li>
                        <li class="d-block" id="cross6">
                          <div class="form-check w-100">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" id="check6"> Amylinomimetic <i
                                class="input-helper rounded"></i>
                            </label>
                            <div class="d-flex mt-2" style="justify-content: space-between ;">
                              <div class="ps-4 text-small me-3">15 P.M.</div>
                              <div class="badge badge-opacity-dark me-3" id="Med6">
                                ----</div>


                            </div>
                          </div>
                        </li>
                        <li class="d-block" id="cross7">
                          <div class="form-check w-100">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" id="check7"> Biguanides <i
                                class="input-helper rounded"></i>
                            </label>
                            <div class="d-flex mt-2" style="justify-content: space-between;">
                              <div class="ps-4 text-small me-3">21 P.M.</div>
                              <div class="badge badge-opacity-dark me-3" id="Med7">
                                ----</div>

                            </div>
                          </div>
                        </li>
                        <li class="d-block" id="cross8">
                          <div class="form-check w-100">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" id="check8"> Sulfonylureas <i
                                class="input-helper rounded"></i>
                            </label>
                            <div class="d-flex mt-2" style="justify-content: space-between;">
                              <div class="ps-4 text-small me-3">21 P.M.</div>
                              <div class="badge badge-opacity-dark me-3" id="Med8">
                                ----</div>

                            </div>
                          </div>
                        </li>
                        <li class="d-block" id="cross9">
                          <div class="form-check w-100">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" id="check9"> GLP-1 receptor agonists <i
                                class="input-helper rounded"></i>
                            </label>
                            <div class="d-flex mt-2" style="justify-content: space-between;">
                              <div class="ps-4 text-small me-3">21 P.M.</div>
                              <div class="badge badge-opacity-dark me-3" id="Med9">
                                ----</div>

                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row flex-grow">
          <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4 class="card-title card-title-dash">Type By Amount</h4>
                    </div>
                    <canvas class="my-auto" id="doughnutChart" height="200"></canvas>
                    <div id="doughnut-chart-legend" class="mt-5 text-center"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row flex-grow">
          <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body card-rounded">
                <h4 class="card-title  card-title-dash">Doctors Appoinment</h4>
                <div class="list align-items-center border-bottom py-2">
                  <div class="wrapper w-100">
                    <p class="mb-2 font-weight-medium">
                      Ramesh Gupta (Cardiologist)
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                        <i class="mdi mdi-calendar text-muted me-1"></i>
                        <p class="mb-0 text-small text-muted">Oct 24, 2021</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list align-items-center border-bottom py-2">
                  <div class="wrapper w-100">
                    <p class="mb-2 font-weight-medium">
                      Mahesh Sharma (Neurologist)
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                        <i class="mdi mdi-calendar text-muted me-1"></i>
                        <p class="mb-0 text-small text-muted">Oct 26, 2021</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list align-items-center border-bottom py-2">
                  <div class="wrapper w-100">
                    <p class="mb-2 font-weight-medium">
                      Suresh Jaiswal (General Checkup)
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                        <i class="mdi mdi-calendar text-muted me-1"></i>
                        <p class="mb-0 text-small text-muted">Nov 05, 2021</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="list align-items-center pt-3">
                  <div class="wrapper w-100">
                    <p style="cursor: not-allowed;" class="mb-0">
                      <a class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row flex-grow">
          <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <div>
                        <h4 class="card-title card-title-dash">Pendent User</h4>
                      </div>
                    </div>
                    <div class="mt-3">
                      {% for user in Users %}

                      <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                        <div class="d-flex">
                          <img class="img-sm rounded-10" src="static/images/faces/face{{loop.index}}.jpg" alt="profile">
                          <div class="wrapper ms-3">
                            <p class="ms-1 mb-1 fw-bold">{{user.name}}</p>
                            <small class="text-muted mb-0">age = {{user.age}}</small>
                          </div>
                        </div>
                        <div class="text-muted text-small">
                          {{user.datejoined}}
                        </div>
                      </div>
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}