{% extends 'base.html' %}

{% block content %}
<script>
    document.getElementById('activependent').classList.add("active");
</script>


<div class="tab-content tab-content-basic">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12" style="text-align: center;">
                        <ul>

                            <li><h4  style="text-align: left;">BluePrint of Our Pendent</h4></li>
                            <img style="   margin: 20px; width: 90%;height: auto;" src="static\images\presentationimages\7.jpg"
                            alt="">
                            <li><h4  style="text-align: left;">Technology Used in our Product</h4></li>
                            <img style="   margin: 20px; width:  90%;height: auto;" src="static\images\presentationimages\8.jpg"
                            alt="">
                            <li><h4  style="text-align: left;">Uniqueness in our Pendent</h4></li>
                            <img style="  margin: 20px;  width:  90%;height: auto;" src="static\images\presentationimages\9.jpg"
                            alt="">
                            <li><h4  style="text-align: left;">How our Pendent connect Patiant with there life</h4></li>
                            <img style="  margin: 20px;  width:  90%;height: auto;"
                            src="static\images\presentationimages\Encipher.jpg" alt="">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Your code -->

</div>
{% endblock %}